{% extends 'base/base.html' %}
{% block content %}
    {% if user %}
        <h1>Alerts from {{ user.municipality }} Municipality</h1>
    {% endif %}
    {% for alert in alerts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ alert.author.profile.image.url }}" alt="">
            <div class="media-body">
            
            <div class="article-metadata">
                <a class="mr-2">{{ alert.author.municipality }}</a>
                <small class="text-muted">{{ alert.created_on }}</small>
            </div>

            <h3>Attention {{ alert.location }} Residents!</h3>
            <p class="article-content">{{ alert.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}